*.userprefs
mogate/bin/Debug/Content/Fonts/SpriteFont1.xnb
mogate/bin/Debug/Content/Shaders/fade.xnb
mogate/bin/Debug/Content/Shaders/grayscale.xnb
mogate/bin/Debug/Content/Sprites/sprites.plist
mogate/bin/Debug/Content/Sprites/sprites.png
mogate/bin/Debug/Lidgren.Network.dll
mogate/bin/Debug/ManagedPVRTC.dll
mogate/bin/Debug/mogate.exe
mogate/bin/Debug/mogate.pdb
mogate/bin/Debug/MonoGame.Framework.dll
mogate/bin/Debug/MonoGameContentProcessors.dll
mogate/bin/Debug/NAudio.dll
mogate/bin/Debug/NAudio.WindowsMediaFormat.dll
mogate/bin/Debug/OpenTK.dll
mogate/bin/Debug/SharpDX.D3DCompiler.dll
mogate/bin/Debug/SharpDX.dll
mogate/bin/Debug/Tao.Sdl.dll
mogate/bin/Debug/yeti.mmedia.dll
mogate/bin/Debug/yeti.mp3.dll
mogate/obj/x86/Debug/mogate.csproj.FileListAbsolute.txt
mogate/obj/x86/Debug/mogate.csprojResolveAssemblyReference.cache
mogate/obj/x86/Debug/mogate.exe
mogate/obj/x86/Debug/mogate.pdb
mogate/Shaders/fade.xnb
mogate/Shaders/grayscale.xnb